<%= form_with(url: products_path, method: :get, local: true) do |form| %>
  <%= form.text_field :keyword, placeholder: "Search by keyword" %>
  <%= form.collection_select :category_id, Category.all, :id, :name, include_blank: true %>
  <%= form.submit "Search" %>
<% end %>



<% @products.each do |product| %>
  <div>
    <h2><%= link_to product.name, product_path(product) %></h2>
    <p><%= product.description %></p>
    <!-- Display "On Sale" badge if product is on sale -->
    <% if product.on_sale %>
      <span>On Sale!</span>
    <% end %>
    <!-- Add more product details as needed -->
  </div>
<% end %>

<%= paginate @products %>
