<!DOCTYPE html>
<html>
<head>
  <title>TechCrunch</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <p>Welcome, <%= current_user.email %>!</p>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path %>
    <%= link_to 'Sign up', new_user_registration_path %> |
  <% end %>
  <%= link_to 'About', about_path %> |
  <%= link_to 'Contact', contact_path %> |
  <%= link_to 'On Sale', products_path(filter: 'on_sale') %> |
  <%= link_to 'New Products', products_path(filter: 'new') %> |
  <%= link_to 'Products', products_path %> |

  <%= link_to cart_path do %>
    <i class="fas fa-shopping-cart"></i> Cart
    <% if current_cart.present? %>
      <span class="cart-count"><%= current_cart.cart_items.count %></span>
    <% else %>
      <span class="cart-count">0</span>
    <% end %>
  <% end %>

  <%= yield %>
</body>
</html>
